/* Mixin for title's strokes */
@mixin bottom_stroke($width, $height, $margin-top) {

	&::after {
		background-color: $green;
		content:'';
		display: block;
		height: $height;
		margin: $margin-top auto 0 auto;
		width: $width;
	}

}