@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400)

html
  body
    display: flex
    flex-direction: column
    font-family: 'Source Sans Pro', sans-serif
    margin: 0

    /* Styles général */
    ul, ol
      list-style-type: none
      padding-left: 0

    *:not(strong)
      font-weight: 300

    section:not(#clients):not(#reasons), footer
      padding: 60px 10%

    #goals, #guarantees, #reasons, #offers
      h2
        @include h2_source_sans

    /* Styles menu */
    header
      background-color: $main-color
      font-size: 0
      height: 4px

    nav
      height: 70px
      position: absolute
      right: 10%
      top: 0
      width: 80%

      ul
        align-items: center
        display: flex
        justify-content: space-between
        
        li
          &:last-of-type a
            border: solid 1px $white
            padding: 5px 10px
          a
            color: $white
            font-size: 1.125em
            line-height: 2
            text-decoration: none

        @media screen and (min-width: 1150px)
          justify-content: flex-end

          &::before
            content: url('images/logo-white.svg')
            display: inline-block
            left: 0
            position: absolute
            width: 170px

          li
            margin: 0 10px

      @media screen and (max-width: 850px)
        background-color: $main-color
        height: 100vh
        position: relative
        right: 0
        width: 100%

        ul
          box-sizing: border-box
          flex-direction: column
          flex-wrap: wrap
          height: 100%
          margin: 0
          padding: 15% 0

          li
            width: 100%
            text-align: center

          &::before, &::after
            background-color: $white
            content: ''
            height: 2px
            position: absolute
            width: 30px
            top: 10%
            right: 10%

          &::before
            transform: rotate(45deg)

          &::after
            transform: rotate(-45deg)

    section#sales
      background: url('images/pharminfo-presentation.jpg') no-repeat center/cover
      display: flex
      flex-direction: column
      justify-content: center
      min-height: 100vh
      text-align: center

      h2
        @include bottom_stroke(28px, 4px, 30px)
        color: $white
        font-size: $big-title
        font-weight: 400
        margin: 0
        text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.2)

        &::before
          content: url('images/logo-white.svg')
          display: block
          margin: 20px auto
          width: 252px

      ul
        margin-top: 40px

        li a
          background-color: $white
          color: $grey-1
          text-decoration: none
          padding: 10px 20px

    section#about
      h2
        @include h2_source_sans(30px, $main-color, italic)

      article


    section#news
      article
        overflow: hidden

    section#goals
      background-color: $grey-3

      ul
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 40px

        li
          font-size: $basic-font-size
          margin: 20px 0
          min-height: 56px
          padding-left: 70px
          width: 100%

          @each $name in help, connect, innovate, simplify, save, raise
            &##{$name}
              background: url(images/objectifs/icon-#{$name}.svg) top left / 56px 56px no-repeat

          strong
            color: $main-color
            display: block
 
            font-size: $subtitle

      @media screen and (min-width: 560px)
        ul li
          box-sizing: border-box
          width: 45%

    section#guarantees
      ul
        display: flex
        flex-wrap: wrap
        justify-content: center

        li
          @extend .active
          align-items: center
          border-bottom: solid 1px $grey-2
          border-left: solid 1px $grey-2
          box-shadow: 1px -1px 0 $grey-2
          box-sizing: border-box
          color: $grey-1
          display: flex
          flex-direction: column
          font-size: 0
          justify-content: center
          padding: 20px
          text-align: center
          text-transform: uppercase

          &::before
            border-radius: 50%
            display: block
            height: 50%
            max-width: 100px
            width: 50%

          @each $name in cloud, payment, ars, security, order, sav, seo, responsive
            &##{$name}::before
              content: url(images/warranties/icon-#{$name}.svg)

        li.active
          background-color: $grey-3
          font-size: $basic-font-size

          &::before
            border: solid 3px $main-color
            margin-bottom: 15px

      @media screen and (max-width: 400px)
        ul li
          height: calc(65vw)
          width: calc(65vw)

      @media screen and (min-width: 400px) and (max-width: 550px)
        ul li
          height: calc(40vw)
          width: calc(40vw)

      @media screen and (min-width: 550px) and (max-width: 780px)
        ul li
          height: calc(26vw)
          width: calc(26vw)

      @media screen and (min-width: 780px)
        ul li
          height: calc(20vw)
          width: calc(20vw)

    section#reasons
      p
        font-style: italic
        text-align: center

      ol
        counter-reset: reasons
        margin: 20px 10% 0 10%
        padding-bottom: 40px

        li
          align-items: center
          counter-increment: reasons
          display: flex
          margin: 20px 0 20px 30px
          min-height: 40px        
          padding: 15px 20px 15px 75px
          position: relative
          text-align: left

          &::before
            border-color: transparent $grey-2 transparent transparent
            border-style: solid
            border-width: 10px 7px 10px 0
            content: ''
            display: inline-block
            height: 0
            position: absolute
            left: -7px
            top: calc(50% - 10px)
            width: 0

          &::after
            background-color: $white
            border: solid 1px #d3d3d3
            border-radius: 50%
            color: #d3d3d3
            content: counter(reasons)
            font-weight: 400
            height: 20px
            text-align: center
            top: calc(50% - 10px)
            position: absolute
            left: -35px
            width: 20px

          @each $name in develop, expertise, loyal, satisfaction, accompaniment, cost
            &##{$name}
              background: url('images/choose/icon-#{$name}.svg') 10px center / 50px no-repeat, $grey-2

      @media screen and (min-width: 630px)
        ol
          display: flex
          flex-direction: column
          position: relative

          &::before
            background-color: #d3d3d3
            content: ''
            display: block
            height: 92%
            left: 50%
            position: absolute
            top: 8%
            width: 1px

          li
            box-sizing: border-box
            width: calc(50% - 24px)

          li#develop, li#loyal, li#accompaniment
            background-position: right 10px center
            margin: 20px 30px 20px 0
            padding: 25px 75px 25px 20px
            text-align: right

            &::before
              border-color: transparent transparent transparent $grey-2
              border-width: 10px 0 10px 7px
              right: -7px
              left: initial

            &::after
              right: -35px
              left: initial

          li#expertise, li#satisfaction, li#cost
            align-self: flex-end
            background-position: 10px center
            margin: 20px 0 20px 30px
            padding: 25px 20px 25px 75px

            &::before
              border-color: transparent $grey-2 transparent transparent
              border-width: 10px 7px 10px 0
              left: -7px

            &::after
              left: -35px

    section#clients
      ul + ul
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        li
          box-sizing: border-box
          margin: 20px 0
          padding: 150px 0px 20px 100px
          position: relative
          width: 100%

          @each $name in interne, symplify, special-order, delivery
            &##{$name}
              background: url('images/numbers/#{$name}.svg') padding-box center 0 / 100% auto no-repeat

          strong
            font-size: 3em
            font-weight: 400
            left: -5px
            line-height: 1
            position: absolute

      > p
        font-size: 0.75em
        margin: 10px 20px
        text-align: center

      &::after
        background: url('images/photos/bkgd-meds.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-attachment: fixed
        content: ''
        display: block
        height: 260px
        width: 100%

      @media screen and (max-width: 840px)
        ul + ul
          margin: 0 auto
          width: 80%

      @media screen and (min-width: 400px) and (max-width: 840px)
        ul + ul li#interne, ul + ul li#delivery
          background-size: auto 60%

        ul + ul li#symplify, ul + ul li#special-order
          background-size: auto 50%

      @media screen and (min-width: 840px)
        ul + ul li
          margin: 0
          width: 50%

          @each $name in interne, symplify, special-order, delivery
            &##{$name}:hover
              background: url('images/numbers/#{$name}.svg') padding-box center 20px / auto 45% no-repeat, $grey-3

        ul + ul li#interne, ul + ul li#symplify, ul + ul li#delivery, ul + ul li#special-order
          background-size: auto 45%
          background-position: center 20px

        ul + ul li#delivery, ul + ul li#symplify
          padding: 150px 10% 20px 127px

          strong
            left: 20px

        ul + ul li#interne, ul + ul li#special-order
          padding: 150px 20px 20px calc(10% + 107px)

          strong
            left: 20%

    section#offers
      background-color: $grey-3
      padding-top: 120px

      h2
        width: 100%;

      > p
        font-style: italic
        text-align: center
        margin: 20px 0
        width: 100%

        & + p
          margin-bottom: 40px

      section
        margin: 20px 0
        padding: 30px
        text-align: center

        h3
          font-weight: inherit
          margin: 0
          text-transform: uppercase

        p:first-of-type
          margin-top: 0

        p.price
          border-bottom: solid 1px $grey-2
          border-top: solid 1px $grey-2
          font-size: 0.75em
          margin: 10px
          padding: 5px

          strong
            font-size: $big-title
            font-weight: 400

        ul:first-of-type
          margin-top: 30px

          li
            font-size: $basic-font-size
            margin: 10px
            
            &.disabled
              opacity: 0.5

        ul.links li a
          border: solid 1px
          color: inherit
          font-size: 0.75em
          padding: 5px 10px
          text-decoration: none
          text-transform: uppercase

        &#ecoweb, &#flexiweb, &#optiweb
          @extend %test
          background-color: $white
          border: solid 3px $grey-3
          color: $grey-1

          ul.links li a
            border-color: $grey-1

        &#flexiweb-plus
          background-color: $main-color
          border: solid 3px $main-color-light
          color: $white
          font-weight: 400

          p.price
            border-bottom: solid 1px $white
            border-top: solid 1px $white

          ul.links li a
            border-color: $white

        &.close
          ul
            display: none

          &::after
            content: 'voir plus'
            display: block
            font-size: $basic-font-size
            margin-top: 30px
            text-decoration: underline

      ul.notes
        font-size: 0.75em
        margin: 20px

      @media screen and (min-width: 650px)
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        > p
          padding: 0 20%

        section
          box-sizing: border-box
          width: 48%

      @media screen and (min-width: 1215px)
        section
          width: 24%  

    section#main-offer
      background-color: $grey-3
      padding-top: 60px
      text-align: center

      h2
        font-size: 1.875em

      p
        font-style: italic

      ol
        counter-reset: offer_count
        display: flex
        flex-wrap: wrap
        margin: 20px 0

        li
          border-top: solid 220px transparent
          counter-increment: offer_count
          margin-bottom: 60px
          padding: 10px
          position: relative          
          width: 100%

          &::before
            background-color: $grey-3
            border: solid 1px #d3d3d3
            border-radius: 50%
            color: #d3d3d3
            content: counter(offer_count)
            display: block
            font-weight: 400
            height: 20px
            left: calc(50% - 10px)
            margin: 0 auto
            position: absolute
            top: -45px
            text-align: center
            width: 20px
            z-index: 2

          &::after
            border-color: transparent transparent $grey-2 transparent
            border-style: solid
            border-width: 0 10px 7px 10px
            content: ''
            display: block
            height: 0
            left: calc(50% - 10px)
            position: absolute
            top: -7px
            width: 0

          @each $name in medicine, app, computer, sms, reception
            &##{$name}
              background: url('images/timeline-mobile-app/#{$name}.svg') border-box center 0 / 146px auto no-repeat, padding-box $grey-2

      ul.links li a
        background-color: $main-color
        color: $white
        padding: 10px 20px
        text-decoration: none
        text-transform: uppercase

      &::after
        background: url('images/city-bkgd.svg') no-repeat
        background-size: cover
        content: ''
        display: block
        height: 250px
        left: -12.5%
        margin-top: 50px
        position: relative
        width: 125%

      @media screen and (min-width: 530px)
        ol
          justify-content: space-around

          li
            box-sizing: border-box
            width: 45%

      @media screen and (min-width: 1000px)
          ol
            margin-top: 60px
            position: relative

            &::after
              background-color: #d3d3d3
              content: ''
              display: block
              height: 1px
              left: 10%
              position: absolute
              top: 136px
              width: 80%

            li#medicine, li#app, li#computer, li#sms, li#reception
              background-size: auto 100px
              border-top: solid 170px transparent
              width: 18%

    section#customize
      background-color: $grey-3
      text-align: center

      h2
        font-size: 1.875em

      p
        font-style: italic

      dl
        align-items: center
        display: flex
        flex-direction: column
        flex-wrap: wrap
        height: 760px

        dt
          font-size: $basic-font-size
          margin-top: 40px
          position: relative

          &::before
            content: ''
            display: block
            height: 50px
            margin: 0 auto 10px
            width: 50px

          &::after
            background-color: $main-color
            content: ''
            display: block
            height: 2px
            left: calc( 50% - 9px )
            position: absolute
            top: 50px
            width: 18px

          @each $name in image, colors, logo, theme
            &##{$name}::before
              background: url('images/personnalisation/icon-#{$name}.svg') center 0 no-repeat

        dd
          font-size: $subtitle
          margin-left: 0
          margin-top: 10px

        dt, dd
          max-width: 150px

      @media screen and (min-width: 480px)
        dl
          height: 380px

      @media screen and (min-width: 720px)
        dl
          height: 200px

    section#contact
      h2
        font-size: $title

        &::after
          background-color: $main-color
          content: ''
          display: block
          height: 2px
          margin-top: 15px
          width: 16px

      dl
        dt
          color: $main-color
          float: left
          margin-right: 10px

          &::after
            content: ' :'

          &:first-of-type
            display: none

        dd
          margin-left: 0

          a
            color: inherit
            text-decoration: none

          &:first-of-type
            display: block
            margin-bottom: 40px

          strong
            font-weight: 400

      form
        margin-top: 40px

        label
          display: none

        input:first-of-type, textarea
          border: solid 1px $grey-1
          box-sizing: border-box
          display: block
          font-family: inherit
          padding: 10px
          width: 100%

        textarea
          border-top: none
          min-height: 130px

        input:last-of-type
          background: transparent
          border: solid 1px $grey-1
          font-size: 0.7em
          margin-top: 20px
          padding: 10px 20px
          text-transform: uppercase

      & > p
        font-size: 0.7em
        font-style: italic
        margin-bottom: 40px
        text-decoration: underline

    aside#click-to-call
      @extend .close
      position: fixed
      right: 0
      top: 40%

      &.close
        background: url('images/click-to-call.svg') center center / 80% auto no-repeat, #1eb7e0
        height: 55px
        width: 55px

        h2, form
          display: none

    footer
      background-color: $grey-1

      ul#social
        margin-bottom: 20px

        li
          display: inline-block
          font-size: 0
          height: 23px
          margin: 5px
          width: 23px

          &#facebook
            background: url('images/social-medias/icon-facebook.svg')

          &#twitter
            background: url('images/social-medias/icon-twitter.svg')

          &#google
            background: url('images/social-medias/icon-gplus.svg')

          &#linkedin
            background: url('images/social-medias/icon-linkedin.svg')

          &#scoopit
            background: url('images/social-medias/icon-scoopit.svg')

      ul#links
        color: $white
        font-size: 0.7em
        text-align: right

        li
          margin-top: 10px

          a
            color: inherit
            text-decoration: none