/* Class for offer block style */
@media screen and (max-width: 650px)
  %hide-offer
    ul
      display: none

    &::after
      content: 'voir plus'
      display: block
      font-size: $basic-font-size
      margin-top: 30px
      text-decoration: underline

/* Class for offer block style */
@media screen and (min-width: 840px)
  %hide-guarantees
    li
      @include transition(font-size)
      background-color: transparent
      font-size: 0

      &::before
        border: none
        margin-bottom: 0

      &:hover
        background-color: $grey-4
        font-size: $basic-font-size

        &::before
          border: solid 3px $main-color
          margin-bottom: 15px
      