/* Colors */
/* Font-size */
/* 45pt */
/* 36pt */
/* Mixin for title's strokes */
/* Mixin for h2 styles*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400);
html ul, html ol {
  list-style-type: none;
  padding-left: 0; }

html body {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; }
  html body header {
    display: none; }
  html body nav {
    height: 100vh;
    background-color: #00a071;
    width: 100%; }
    html body nav ul {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 80%;
      justify-content: space-between;
      margin: 20% 0 0 0;
      padding: 20px;
      position: relative; }
      html body nav ul li {
        width: 100%;
        text-align: center; }
        html body nav ul li a {
          color: #FFFFFF;
          font-size: 1.125em;
          line-height: 2;
          text-decoration: none; }
        html body nav ul li:last-of-type a {
          border: solid 1px #FFFFFF;
          padding: 5px 10px; }
      html body nav ul::before, html body nav ul::after {
        background-color: #FFFFFF;
        content: '';
        height: 2px;
        position: absolute;
        width: 30px;
        top: -20px;
        right: 20px; }
      html body nav ul::before {
        transform: rotate(45deg); }
      html body nav ul::after {
        transform: rotate(-45deg); }
  html body section#sales {
    background: url("images/pharminfo-presentation.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center; }
    html body section#sales h2 {
      color: #FFFFFF;
      font-size: 2.8em;
      font-weight: 400;
      margin: 0 10%;
      text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.2); }
      html body section#sales h2::after {
        background-color: #00a071;
        content: '';
        display: block;
        height: 4px;
        margin: 30px auto 0 auto;
        width: 28px; }
      html body section#sales h2::before {
        background: url("images/logo-white.svg");
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 66px;
        margin: 20px auto;
        width: 252px; }
    html body section#sales ul {
      margin-top: 40px; }
      html body section#sales ul li a {
        background-color: #FFFFFF;
        color: #515151;
        text-decoration: none;
        padding: 10px 20px; }
  html body section#about h2 {
    color: #00a071;
    font-size: 2.25em;
    font-style: italic;
    font-weight: 300;
    text-align: center; }
    html body section#about h2::after {
      background-color: #00a071;
      content: '';
      display: block;
      height: 2px;
      margin: 30px auto 0 auto;
      width: 20px; }
  html body section#goals h2 {
    color: #515151;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 300;
    text-align: center; }
    html body section#goals h2::after {
      background-color: #00a071;
      content: '';
      display: block;
      height: 2px;
      margin: 20px auto 0 auto;
      width: 20px; }
  html body section#goals ul {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
    width: 90%; }
    html body section#goals ul li {
      align-self: center;
      box-sizing: border-box;
      font-size: 0.875em;
      font-weight: 300;
      margin-bottom: 50px;
      min-width: 33%;
      min-height: 56px;
      padding-left: 70px; }
      html body section#goals ul li#innovate {
        background: url("images/objectifs/icon-innovation.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#simplify {
        background: url("images/objectifs/icon-simple.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#connect {
        background: url("images/objectifs/icon-connect.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#help {
        background: url("images/objectifs/icon-help.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#save {
        background: url("images/objectifs/icon-win.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#raise {
        background: url("images/objectifs/icon-increase.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li strong {
        color: #00a071;
        display: block;
        font-size: 1.25em;
        font-weight: 300; }
  html body section#guarantees h2 {
    color: #515151;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 300;
    text-align: center; }
    html body section#guarantees h2::after {
      background-color: #00a071;
      content: '';
      display: block;
      height: 2px;
      margin: 20px auto 0 auto;
      width: 20px; }
  html body section#guarantees ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 85%; }
    html body section#guarantees ul li {
      align-items: center;
      border: solid 1px #e6e6e6;
      box-sizing: border-box;
      color: #515151;
      display: flex;
      flex-direction: column;
      font-size: 0;
      height: 65vw;
      justify-content: center;
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
      width: 65vw; }
      html body section#guarantees ul li::before {
        border-radius: 50%;
        content: '';
        display: block;
        height: 60%;
        width: 60%; }
      html body section#guarantees ul li#cloud::before {
        background: url("images/warranties/icon-cloud.svg"); }
      html body section#guarantees ul li#payment::before {
        background: url("images/warranties/icon-payment.svg"); }
      html body section#guarantees ul li#ars::before {
        background: url("images/warranties/icon-ars.svg"); }
      html body section#guarantees ul li#security::before {
        background: url("images/warranties/icon-security.svg"); }
      html body section#guarantees ul li#order::before {
        background: url("images/warranties/icon-order.svg"); }
      html body section#guarantees ul li#sav::before {
        background: url("images/warranties/icon-sav.svg"); }
      html body section#guarantees ul li#seo::before {
        background: url("images/warranties/icon-seo.svg"); }
      html body section#guarantees ul li#responsive::before {
        background: url("images/warranties/icon-responsive.svg"); }
    html body section#guarantees ul li.active, html body section#guarantees ul li {
      background-color: #f5f5f5;
      font-size: 0.875em; }
      html body section#guarantees ul li.active::before, html body section#guarantees ul li::before {
        border: solid 3px #00a071;
        margin-bottom: 20px; }
  html body section#reasons h2 {
    color: #515151;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    margin-top: 80px; }
    html body section#reasons h2::after {
      background-color: #00a071;
      content: '';
      display: block;
      height: 2px;
      margin: 20px auto 0 auto;
      width: 20px; }
  html body section#reasons p {
    font-style: italic;
    text-align: center; }
  html body section#reasons ol {
    counter-reset: reasons;
    margin: 40px auto;
    width: 90%; }
    html body section#reasons ol li {
      align-items: center;
      background-color: #e6e6e6;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 50px;
      counter-increment: reasons;
      display: flex;
      font-weight: 300;
      list-style-type: none;
      margin: 20px 0 20px 30px;
      min-height: 40px;
      padding: 15px 20px 15px 75px;
      position: relative;
      text-align: left; }
      html body section#reasons ol li::before {
        border-color: transparent #e6e6e6 transparent transparent;
        border-style: solid;
        border-width: 10px 7px 10px 0;
        content: '';
        display: inline-block;
        height: 0;
        position: absolute;
        left: -7px;
        top: calc(50% - 10px);
        width: 0; }
      html body section#reasons ol li::after {
        border: solid 1px #d3d3d3;
        border-radius: 50%;
        color: #d3d3d3;
        content: counter(reasons);
        font-weight: 400;
        height: 20px;
        text-align: center;
        top: calc(50% - 10px);
        position: absolute;
        left: -35px;
        width: 20px; }
      html body section#reasons ol li#develop {
        background-image: url("images/choose/icon-development.svg"); }
      html body section#reasons ol li#expertise {
        background-image: url("images/choose/icon-expertise.svg"); }
      html body section#reasons ol li#loyal {
        background-image: url("images/choose/icon-fidelisation.svg"); }
      html body section#reasons ol li#satisfaction {
        background-image: url("images/choose/icon-satisfaction.svg"); }
      html body section#reasons ol li#accompaniment {
        background-image: url("images/choose/icon-accompagnement.svg"); }
      html body section#reasons ol li#cost {
        background-image: url("images/choose/icon-cost.svg"); }
  html body section#clients ul + ul {
    display: flex;
    flex-wrap: wrap; }
    html body section#clients ul + ul li {
      box-sizing: border-box;
      font-weight: 300;
      margin: 40px 0;
      position: relative;
      width: 100%; }
      html body section#clients ul + ul li#interne {
        background: url("images/numbers/computer.svg") padding-box center 0/80% auto no-repeat;
        padding: 150px 20px 20px 120px; }
      html body section#clients ul + ul li#symplify {
        background: url("images/numbers/city-fly.svg") padding-box center 0/80% auto no-repeat;
        padding: 150px 20px 20px 120px; }
      html body section#clients ul + ul li#special-order {
        background: url("images/numbers/patient-order-section.svg") padding-box center 0/80% auto no-repeat;
        padding: 150px 20px 20px 120px; }
      html body section#clients ul + ul li#delivery {
        background: url("images/numbers/delivery.svg") padding-box center 0/80% auto no-repeat;
        padding: 150px 20px 20px 120px; }
      html body section#clients ul + ul li strong {
        font-size: 3em;
        font-weight: 400;
        left: 20px;
        line-height: 1;
        position: absolute; }
  html body section#clients > p {
    font-size: 0.75em;
    margin: 10px 20px;
    text-align: center; }
  html body section#clients::after {
    background: url("images/photos/bkgd-meds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    content: '';
    display: block;
    height: 260px;
    width: 100; }
  html body section#offers {
    background-color: #f5f5f5; }
    html body section#offers > p {
      font-style: italic;
      font-weight: 300;
      text-align: center;
      margin: 20px; }
      html body section#offers > p + p {
        margin-bottom: 40px; }
    html body section#offers h2 {
      color: #515151;
      font-size: 2.25em;
      font-style: normal;
      font-weight: 300;
      text-align: center; }
      html body section#offers h2::after {
        background-color: #00a071;
        content: '';
        display: block;
        height: 2px;
        margin: 20px auto 0 auto;
        width: 20px; }
    html body section#offers section {
      margin: 20px;
      padding: 30px;
      text-align: center; }
      html body section#offers section h3 {
        font-weight: inherit;
        margin: 0;
        text-transform: uppercase; }
      html body section#offers section p:first-of-type {
        margin-top: 0; }
      html body section#offers section p.price {
        border-bottom: solid 1px #e6e6e6;
        border-top: solid 1px #e6e6e6;
        margin: 10px;
        padding: 5px; }
        html body section#offers section p.price strong {
          font-size: 2.25em;
          font-weight: 400; }
      html body section#offers section ul:first-of-type {
        margin-top: 30px; }
        html body section#offers section ul:first-of-type li {
          font-size: 0.875em;
          margin: 10px; }
          html body section#offers section ul:first-of-type li.disabled {
            opacity: 0.5; }
      html body section#offers section ul.links li a {
        border: solid 1px;
        color: inherit;
        font-size: 0.75em;
        padding: 5px 10px;
        text-decoration: none;
        text-transform: uppercase; }
      html body section#offers section#ecoweb, html body section#offers section#flexiweb, html body section#offers section#optiweb {
        background-color: #FFFFFF;
        border: solid 3px #f5f5f5;
        color: #515151;
        font-weight: 300; }
        html body section#offers section#ecoweb ul.links li a, html body section#offers section#flexiweb ul.links li a, html body section#offers section#optiweb ul.links li a {
          border-color: #515151; }
      html body section#offers section#flexiweb-plus {
        background-color: #00a071;
        border: solid 3px #2fc17b;
        color: #FFFFFF;
        font-weight: 400; }
        html body section#offers section#flexiweb-plus p.price {
          border-bottom: solid 1px #FFFFFF;
          border-top: solid 1px #FFFFFF; }
        html body section#offers section#flexiweb-plus ul.links li a {
          border-color: #FFFFFF; }
      html body section#offers section.close ul, html body section#offers section#ecoweb ul, html body section#offers section#flexiweb ul, html body section#offers section#optiweb ul {
        display: none; }
      html body section#offers section.close::after, html body section#offers section#ecoweb::after, html body section#offers section#flexiweb::after, html body section#offers section#optiweb::after {
        content: 'voir plus';
        display: block;
        font-size: 0.875em;
        margin-top: 30px;
        text-decoration: underline; }
    html body section#offers ul.notes {
      font-size: 0.75em;
      margin: 20px; }
  html body section#main-offer {
    background-color: #f5f5f5;
    padding-top: 80px;
    text-align: center; }
    html body section#main-offer::after {
      background: url("images/city-bkgd.svg") no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 250px;
      margin-top: 50px;
      width: 100%; }
    html body section#main-offer h2 {
      font-size: 1.875em;
      font-weight: 300; }
    html body section#main-offer p {
      font-style: italic;
      font-weight: 300;
      margin: 0 20px; }
    html body section#main-offer ol {
      counter-reset: offer_count;
      display: flex;
      flex-wrap: wrap;
      margin: 20px; }
      html body section#main-offer ol li {
        border-top: solid 220px transparent;
        counter-increment: offer_count;
        font-weight: 300;
        margin-bottom: 60px;
        padding: 10px;
        position: relative;
        width: 100%; }
        html body section#main-offer ol li::before {
          border: solid 1px #d3d3d3;
          border-radius: 50%;
          color: #d3d3d3;
          content: counter(offer_count);
          display: block;
          font-weight: 400;
          height: 20px;
          left: calc(50% - 10px);
          margin: 0 auto;
          position: absolute;
          top: -45px;
          text-align: center;
          width: 20px; }
        html body section#main-offer ol li::after {
          border-color: transparent transparent #e6e6e6 transparent;
          border-style: solid;
          border-width: 0 10px 7px 10px;
          content: '';
          display: block;
          height: 0;
          left: calc(50% - 10px);
          position: absolute;
          top: -7px;
          width: 0; }
        html body section#main-offer ol li#medicine {
          background: url("images/timeline-mobile-app/medicine.svg") border-box center 0 no-repeat, padding-box #e6e6e6;
          background-size: 146px auto; }
        html body section#main-offer ol li#app {
          background: url("images/timeline-mobile-app/app.svg") border-box center 0 no-repeat, padding-box #e6e6e6;
          background-size: 146px auto; }
        html body section#main-offer ol li#computer {
          background: url("images/timeline-mobile-app/computer.svg") border-box center 0 no-repeat, padding-box #e6e6e6;
          background-size: 146px auto; }
        html body section#main-offer ol li#sms {
          background: url("images/timeline-mobile-app/sms.svg") border-box center 0 no-repeat, padding-box #e6e6e6;
          background-size: 146px auto; }
        html body section#main-offer ol li#reception {
          background: url("images/timeline-mobile-app/reception.svg") border-box center 0 no-repeat, padding-box #e6e6e6;
          background-size: 146px auto; }
    html body section#main-offer ul.links li a {
      background-color: #00a071;
      color: #FFFFFF;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase; }
  html body section#customize {
    background-color: #f5f5f5;
    padding: 60px 20px 40px 20px;
    text-align: center; }
    html body section#customize h2 {
      font-size: 1.875em;
      font-weight: 300; }
    html body section#customize p {
      font-style: italic;
      font-weight: 300; }
    html body section#customize dl dt {
      font-size: 0.875em;
      font-weight: 300;
      margin: 60px auto 0 auto;
      max-width: 150px;
      position: relative; }
      html body section#customize dl dt::before {
        content: '';
        display: block;
        height: 50px;
        margin: 0 auto 10px auto;
        width: 50px; }
      html body section#customize dl dt::after {
        background-color: #00a071;
        content: '';
        display: block;
        height: 2px;
        left: calc( 50% - 9px);
        position: absolute;
        top: 50px;
        width: 18px; }
      html body section#customize dl dt#image::before {
        background: url("images/personnalisation/icon-camera.svg") center 0 no-repeat; }
      html body section#customize dl dt#colors::before {
        background: url("images/personnalisation/icon-brush.svg") center 0 no-repeat; }
      html body section#customize dl dt#logo::before {
        background: url("images/personnalisation/icon-pharmacy-logo.svg") center 0 no-repeat; }
      html body section#customize dl dt#theme::before {
        background: url("images/personnalisation/icon-browser.svg") center 0 no-repeat; }
    html body section#customize dl dd {
      font-size: 1.25em;
      margin-left: 0;
      margin-top: 10px; }
  html body section#contact {
    padding: 0 20px; }
    html body section#contact h2 {
      font-size: 2.25em;
      font-weight: 300; }
      html body section#contact h2::after {
        background-color: #00a071;
        content: '';
        display: block;
        height: 2px;
        margin-top: 15px;
        width: 16px; }
    html body section#contact dl dt {
      color: #00a071;
      float: left;
      margin-right: 10px; }
      html body section#contact dl dt::after {
        content: ' :'; }
      html body section#contact dl dt:first-of-type {
        display: none; }
    html body section#contact dl dd {
      font-weight: 300;
      margin-left: 0; }
      html body section#contact dl dd a {
        color: inherit;
        text-decoration: none; }
      html body section#contact dl dd:first-of-type {
        display: block;
        margin-bottom: 40px; }
      html body section#contact dl dd strong {
        font-weight: 400; }
    html body section#contact form {
      margin-top: 40px; }
      html body section#contact form label {
        display: none; }
      html body section#contact form input:first-of-type, html body section#contact form textarea {
        border: solid 1px #515151;
        box-sizing: border-box;
        display: block;
        font-family: inherit;
        padding: 10px;
        width: 100%; }
      html body section#contact form textarea {
        min-height: 130px; }
      html body section#contact form input:last-of-type {
        background: transparent;
        border: solid 1px #515151;
        font-size: 0.7em;
        margin-top: 20px;
        padding: 10px 20px;
        text-transform: uppercase; }
    html body section#contact > p {
      font-size: 0.7em;
      font-style: italic;
      margin-bottom: 40px;
      text-decoration: underline; }
  html body aside#click-to-call {
    position: fixed;
    right: 0;
    top: 40%; }
    html body aside#click-to-call.close, html body aside#click-to-call {
      background: url("images/click-to-call.svg") center center/80% auto no-repeat, #1eb7e0;
      height: 55px;
      width: 55px; }
      html body aside#click-to-call.close h2, html body aside#click-to-call h2, html body aside#click-to-call.close form, html body aside#click-to-call form {
        display: none; }
  html body footer {
    background-color: #515151; }
    html body footer ul#social {
      margin: 0 0 20px 10%; }
      html body footer ul#social li {
        display: inline-block;
        font-size: 0;
        height: 23px;
        margin: 5px;
        width: 23px; }
        html body footer ul#social li#facebook {
          background: url("images/social-medias/icon-facebook.svg"); }
        html body footer ul#social li#twitter {
          background: url("images/social-medias/icon-twitter.svg"); }
        html body footer ul#social li#google {
          background: url("images/social-medias/icon-gplus.svg"); }
        html body footer ul#social li#linkedin {
          background: url("images/social-medias/icon-linkedin.svg"); }
        html body footer ul#social li#scoopit {
          background: url("images/social-medias/icon-scoopit.svg"); }
    html body footer ul#links {
      color: #FFFFFF;
      font-size: 0.7em;
      margin-right: 10%;
      text-align: right; }
      html body footer ul#links a {
        color: inherit;
        text-decoration: none; }

/*# sourceMappingURL=style.sass.css.map */