/* Colors */
/* Font-size */
/* 45pt */
/* 36pt */
/* Mixin for title's strokes */
/* Mixin for h2 styles*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400);
html ul {
  list-style-type: none;
  padding-left: 0; }

html body {
  display: flex;
  flex-direction: column;
  margin: 0; }
  html body section#sales {
    background: url("images/pharminfo-presentation.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center; }
    html body section#sales h2 {
      color: #FFFFFF;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2.8em;
      font-weight: 400;
      margin: 0 10%; }
      html body section#sales h2::after {
        background-color: #00a071;
        content: '';
        display: block;
        height: 4px;
        margin: 30px auto 0 auto;
        width: 28px; }
      html body section#sales h2::before {
        background: url("images/logo-white.svg");
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 66px;
        margin: 20px auto;
        width: 252px; }
    html body section#sales ul {
      margin-top: 40px; }
      html body section#sales ul li a {
        background-color: #FFFFFF;
        color: #515151;
        text-decoration: none;
        padding: 10px 20px; }
  html body section#about h2 {
    color: #00a071;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25em;
    font-style: italic;
    font-weight: 300;
    text-align: center; }
    html body section#about h2::after {
      background-color: #00a071;
      content: '';
      display: block;
      height: 2px;
      margin: 30px auto 0 auto;
      width: 20px; }
  html body section#goals h2 {
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 300;
    text-align: center; }
    html body section#goals h2::after {
      background-color: #00a071;
      content: '';
      display: block;
      height: 2px;
      margin: 20px auto 0 auto;
      width: 20px; }
  html body section#goals ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%; }
    html body section#goals ul li {
      align-self: center;
      box-sizing: border-box;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 0.875em;
      font-weight: 300;
      margin-bottom: 40px;
      min-width: 33%;
      min-height: 56px;
      padding-left: 70px; }
      html body section#goals ul li#innovate {
        background: url("images/objectifs/icon-innovation.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#simplify {
        background: url("images/objectifs/icon-simple.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#connect {
        background: url("images/objectifs/icon-connect.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#help {
        background: url("images/objectifs/icon-help.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#save {
        background: url("images/objectifs/icon-win.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li#raise {
        background: url("images/objectifs/icon-increase.svg") no-repeat;
        background-size: 56px 56px; }
      html body section#goals ul li strong {
        color: #00a071;
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.25em;
        font-weight: 300; }

/*# sourceMappingURL=style.sass.css.map */