<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pharminfo.fr - {% block title %}Votre pharmacie encore plus proche{% endblock title %}</title>
    <link type="image/png" rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.scss.css') }}" />
  </head>

  <body id="{{ page }}">
    <header>
      {% block header %}
        <h1>Pharminfo.fr</h1>
      {% endblock header %}
    </header>

    <nav>
      <ul>
        <li><a href="{{ url_for('page', page='index') }}">Pharminfo.fr</a></li>
        <li><a href="{{ url_for('page', page='index') }}#goals">Objectifs</a></li>
        <li><a href="{{ url_for('page', page='index') }}#guarantees">Garanties</a></li>
        <li><a href="{{ url_for('page', page='index') }}#clients">Clients</a></li>
        <li><a href="{{ url_for('page', page='index') }}#offers">Offres</a></li>
        <li><a href="{{ url_for('page', page='index') }}#contact">Contact</a></li>
        <li><a href="{{ url_for('news') }}">Actualités</a></li>
        <li><a href="{{ url_for('register') }}">Inscription</a></li>
      </ul>
    </nav>

    {% block body %}{% endblock body %}

    <footer>
      <ul id="social">
        <li id="facebook"><a href="https://www.facebook.com/pharminfo.fr">Facebook</a></li>
        <li id="twitter"><a href="https://twitter.com/pharminfofr">Twitter</a></li>
        <li id="google"><a href="https://plus.google.com/u/0/101769964954896551326/posts">Google+</a></li>
        <li id="linkedin"><a href="https://www.linkedin.com/company/pharminfo-fr">LinkedIn</a></li>
        <li id="scoopit"><a href="http://www.scoop.it/u/www-pharminfo-fr">Scoop.it</a></li>
      </ul>
      <ul id="links">
        <li><a href="{{ url_for('page', page='legal') }}">Mentions légales</a></li>
        <li>Made by Kozea with ♥</li>
      </ul>
    </footer>
  </body>
</html>
