<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Pharminfo.fr - {% block title %}Votre pharmacie encore plus proche{% endblock title %}</title>
    <link type="image/png" rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.sass.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>

  <body id="{{ page }}">
    <header>
      <h1>Pharminfo.fr</h1>
    </header>

    <nav>
      <ul>
        <li><a href="{{ url_for('page', page='index') }}">Accueil</a></li>
        <li><a href="{{ url_for('page', page='index') }}#goals">Objectifs</a></li>
        <li><a href="{{ url_for('page', page='index') }}#guarantees">Garanties</a></li>
        <li><a href="{{ url_for('page', page='index') }}#clients">Clients</a></li>
        <li><a href="{{ url_for('page', page='index') }}#offers">Offres</a></li>
        <li><a href="{{ url_for('page', page='index') }}#contact">Contact</a></li>
        <li><a href="{{ url_for('news') }}">Actualités</a></li>
        <li><a href="{{ url_for('subscribe') }}">Inscription</a></li>
      </ul>
    </nav>

    {# Usually we have only one flash at a time and especially one type at a time#}
    {% set grouped_messages = get_flashed_messages(with_categories=True)|sort(0)|groupby(0) %}
    <aside id="flash">
      {% for category, messages in grouped_messages %}
        <ul class="{{ category }}">
          {% for _, message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </aside>

    {% block body %}{% endblock body %}

    <aside class="click-to-call fade">
      <h2>Être rappelé ?</h2>
      <form class="contact-form" action="{{ url_for('contact') }}" method="POST">
        <label for="phone">Téléphone</label>
        <input type="tel" id="phone" name="phone" placeholder="Téléphone" />
        <input type="submit" value="Valider" />
      </form>
    </aside>

    <footer>
      <ul id="social">
        <li id="facebook"><a href="https://www.facebook.com/pharminfo.fr">Facebook</a></li>
        <li id="twitter"><a href="https://twitter.com/pharminfofr">Twitter</a></li>
        <li id="google"><a href="https://plus.google.com/u/0/101769964954896551326/posts">Google+</a></li>
        <li id="linkedin"><a href="https://www.linkedin.com/company/pharminfo-fr">LinkedIn</a></li>
        <li id="scoopit"><a href="http://www.scoop.it/u/www-pharminfo-fr">Scoop.it</a></li>
      </ul>
      <ul id="links">
        <li><a href="{{ url_for('page', page='legal') }}">Mentions légales</a></li>
        <li><a href="{{ url_for('clients') }}">Liste des clients</a></li>
        <li><a href="https://www.kozea.fr" target="_blank">Made by Kozea with ♥</a></li>
      </ul>
    </footer>
    {% if page == 'index' %}
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMaps" async defer></script>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/scrollReveal.min.js') }}"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-62616971-1']);
      _gaq.push(['_setDomainName', 'pharminfo.fr']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>  </body>
</html>
