<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="Augmenter votre visibilité sur le web en créant le site internet de votre pharmacie ou de votre groupement avec Pharminfo.fr : site vitrine, click and collect, vente en ligne">
    <title>{% block title %}Création de sites internet pour pharmacie - ma pharmacie en ligne{% endblock title %}</title>
    <link type="image/png" rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.sass.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.www.pharminfo.fr"]);
      _paq.push(["setDomains", ["*.www.pharminfo.fr"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://pharminfo.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/pharminfo.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  </head>

  <body id="{{ page }}">
    <header>
      <h1>Pharminfo.fr, site internet pour pharmacie d'officine</h1>
    </header>

    <section id="announce" style="display: none">
    </section>

    <nav>
      <ul>
        <li><a href="{{ url_for('page', page='index') }}">Accueil</a></li>
        <li><a href="{{ url_for('page', page='index') }}#guarantees">Garanties</a></li>
        <li><a href="{{ url_for('page', page='index') }}#clients">Clients</a></li>
        <li><a href="{{ url_for('page', page='index') }}#offers">Offres</a></li>
        <li><a href="{{ url_for('page', page='index') }}#contact">Contact</a></li>
        <li><a href="{{ url_for('news') }}">Actualités</a></li>
        <li><a href="{{ url_for('subscribe') }}">Inscription</a></li>
      </ul>
    </nav>

    {# Usually we have only one flash at a time and especially one type at a time#}
    {% set grouped_messages = get_flashed_messages(with_categories=True)|sort(0)|groupby(0) %}
    <aside id="flash">
      {% for category, messages in grouped_messages %}
        <ul class="{{ category }}">
          {% for _, message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </aside>

    {% block body %}{% endblock body %}

    <aside class="click-to-call fade">
      <h2>Être rappelé ?</h2>
      <form class="contact-form" action="{{ url_for('contact') }}" method="POST">
        <label for="phone">Téléphone</label>
        <input type="tel" id="phone" name="phone" placeholder="Téléphone" required />
        <input type="submit" value="Valider" />
      </form>
    </aside>

    <footer>
      <ul id="social">
        <li id="facebook"><a href="https://www.facebook.com/kozeagroup/">Facebook</a></li>
        <li id="twitter"><a href="https://twitter.com/pharminfofr">Twitter</a></li>
        <li id="youtube"><a href="https://www.youtube.com/channel/UCx5VGRSsjpRWhc55EpI_gEw">Youtube</a></li>
        <li id="linkedin"><a href="https://www.linkedin.com/company/pharminfo-fr">LinkedIn</a></li>
        <li id="instagram"><a href="https://www.instagram.com/kozea/">Instagram</a></li>
        <li id="github"><a href="https://github.com/Kozea">Github</a></li>
      </ul>
      <ul id="links">
        <li><a href="https://static.pharminfo.fr/documents/CGU.pdf">Conditions Générales d'Utilisation</a></li>
        <li><a href="{{ url_for('page', page='legal') }}">Mentions légales</a></li>
        <li><a href="{{ url_for('clients') }}">Liste des clients</a></li>
        <li><a href="https://www.kozea.fr" target="_blank">Made by Kozea with ♥</a></li>
      </ul>
    </footer>
    {% if page == 'index' %}
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWkrGhJgLfyabiiZYKlRBdcN6Nqoeunok&callback=initMaps" async defer></script>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/scrollReveal.min.js') }}"></script>
  </body>
</html>
