{% extends '_layout.html' %}

{% macro features(count) %}
  <ul>
    {% for title in (
      'Personnalisation du site Internet',
      'Actualité santé en continu',
      'Présentation des produits',
      'Affichage promotionnel',
      'Fiches conseils',
      "Envoi d'ordonnance",
      'Base de données patients',
      'Suivi de santé (carnet de vaccination, pharmacovigilance…)',
      'Newsletter client',
      'Application mobile',
      'Réservation de produits en ligne, paiement et retrait en pharmacie',
      'Module de livraison Colissimo et points relais',
      'Solution de vente en ligne intégrée**') %}
      <li{% if loop.index > count %} class="disabled"{% endif %}>{{ title }}</li>
    {% endfor %}
  </ul>
  <ul class="links">
    <li>
      <a href="{{ url_for('page', page='subscribe') }}">Je m'inscris</a>
    </li>
  </ul>
{% endmacro %}

{% block body %}
  <section id="sales">
    <h2>Site internet pour pharmacie d'officine</h2>
    <ul>
      <li>Envoi d'ordonnance</li>
      <li>Click &amp; collect</li>
      <li>Vente en ligne</li>
      <li>
        <a href="{{ url_for('page', page='whitepaper') }}">
          Télécharger les livres blancs
        </a>
      </li>
    </ul>

  </section>

  <section id="about">
    <h2>De nouveaux leviers de croissance avec le site internet de votre pharmacie</h2>
    <ul>
      <li><a class="tab-link active" href="#about-pharminfo">À propos de Pharminfo.fr</a></li>
      <li><a class="tab-link" href="#made-by-kozea">Made by Kozea</a></li>
    </ul>
    <article id="about-pharminfo" class="active">
      <p>
        <strong>
          Depuis plus de 10 ans, Pharminfo.fr crée des sites internet pour les
          pharmacies d’officine.
        </strong>
      </p>
      <p>
        C’est en 2007 que Kozea group s’est lancé dans la <strong>création de
        site internet pour les pharmacies</strong>. L’objectif était de
        prolonger sur le web la relation entre les pharmaciens et les patients.
      </p>
      <p>
        Kozea group s’est toujours engagé à créer des sites internet de
        pharmacies dans <strong>le respect des règles juridiques et
        déontologiques</strong>.
      </p>
      </p>
      <p>
        <strong>
          Pharminfo.fr, c’est aujourd’hui plus de 2500 clients pharmaciens !
        </strong>
      </p>
      <!--
      <ul class="links">
        <li>
          <a href="{{ url_for('static', filename='video.avi') }}">
            Voir la vidéo du président
          </a>
        </li>
      </ul>
      -->
    </article>
    <article id="made-by-kozea">
      <p>
        Kozea group a été fondée en 2007 avec la volonté de se positionner comme un <strong>expert du web pour les acteurs de santé</strong> (pharmaciens, médecins généralistes et spécialistes, cliniques, hôpitaux, laboratoires pharmaceutiques…).
      </p>
      <p>
        À l’origine, <strong>Guillaume Ayoub</strong> (ingénieur INSA)
        et <strong>Philippe Donadieu</strong> (docteur en pharmacie) ont
        associé leurs compétences pour <strong>créer les premiers sites
        internet pour les pharmacies</strong> d’officine.
      </p>
    </article>
  </section>

  <section id="news">
    <h2>Actualités</h2>
    {% for entry in news %}
      <article>
        <h3>{{ entry.title }}</h3>
        <time pubdate datetime="{{ entry.iso_date }}">{{ entry.date }}</time>
        <img src="{{ entry.image or url_for('static', filename='news.svg') }}" alt="{{ entry.title }}" />
        <p><a href="{{ entry.link }}">Lire la suite…</a></p>
      </article>
    {% endfor %}
    <ul class="links">
      <li>
        <a href="{{ url_for('page', page='news') }}">Voir toutes les actualités</a>
      </li>
    </ul>
  </section>

  <section id="guarantees">
    <h2>Les garanties Pharminfo.fr</h2>
    <ul>
      <li id="order">Respect de la déontologie de l'ordre des pharmaciens</li>
      <li id="cloud">Hébergement de données de santé</li>
      <li id="payment">Module de paiement en ligne intégré</li>
      <li id="ars">Constitution du dossier ARS</li>
    </ul>
  </section>

  <section id="reasons">
    <h2>6 bonnes raisons de choisir Pharminfo.fr</h2>
    <p>
      Plus de <strong>2500 pharmacies</strong> font confiance à Pharminfo.fr,
      pourquoi pas vous ?
    </p>
    <ol>
      <li id="develop">Augmentez le chiffre d'affaires de votre pharmacie</li>
      <li id="expertise">Fidélisez votre clientèle</li>
      <li id="loyal">Votre pharmacie en ligne disponible 7j/7 et 24h/24</li>
      <li id="satisfaction">Une application mobile Pharminfo.fr pour l'envoi d'ordonnance</li>
      <li id="accompaniment">Un service client à votre écoute</li>
      <li id="cost">Pharminfo.fr, un service de proximité</li>
    </ol>
  </section>

  <section id="clients">
    <h2>Témoignages</h2>

    <ul id="testimonials">
      {# TODO #}
      {% set testimonials = {
        "Madame Skafar de la Pharmacie Gambetta" : "L’équipe de Pharminfo.fr m’accompagne pour donner des conseils illustrés à mes patients et c’est très intéressant",
        "Madame Labbé de la Pharmacie Labbé Dutilleul" : "Les sites Pharminfo.fr sont très faciles d’utilisation. En plus, leur équipe est très conviviale et toujours à notre disposition quand on a besoin",
        "Monsieur Tarnaud de la Pharmacie de la Tour" : "L’équipe de Pharminfo.fr est toujours très réactive",
        "Monsieur Blache de la Pharmacie Saint Gauderique" : "Équipe très active et agréable. Quand je contacte le service de la relation client j’obtiens une réponse très rapidement, pas besoin d’attendre 15 jours contrairement à d’autres fournisseurs"
      } %}
      {% for author, testimonial in testimonials.items() %}
        <li{% if loop.index == 1 %} class="active"{% endif %} data-index="{{ loop.index }}">
          <figure>
            <blockquote>
              {{ testimonial }}
            </blockquote>
            <figcaption>{{ author }}</figcaption>
          </figure>
        </li>
      {% endfor %}
    </ul>
    <ul id="stats">
      <li id="interne"><strong>85%</strong> des patients apprécient que leur pharmacien ait un site internet.</li>
      <li id="symplify"><strong>72%</strong> des patients seraient intéressés par la mise en place d'un service de click and collect qui simplifie l'envoi d'ordonnances.</li>
      <li id="special-order"><strong>73%</strong> des patients souhaitent la mise en place d'un comptoir uniquement dédié au click and collect (retraits des ordonnances envoyées en ligne).</li>
      <li id="delivery"><strong>50%</strong> des patients souhaitent être livrés à leur domicile.</li>
    </ul>
    <p>Enquête réalisée par Pharminfo.fr au mois de juillet 2015 auprès de 1300 patients.</p>
  </section>

  <section id="offers">
    <h2>Des offres adaptées à vos besoins</h2>
    <p>
      <strong>
        Accélérez vos ventes et votre visibilité avec les sites internet pour
        pharmacies Pharminfo.fr.
      </strong>
    </p>

    <section id="ecoweb">
      <h3>Ecoweb</h3>
      <p class="price"><strong>14,90 €</strong> HT/mois</p>
      <p>Aller à l'essentiel</p>
      {{ features(2) }}
    </section>

    <section id="flexiweb-plus">
      <h3>Flexiweb Plus*</h3>
      <p class="price"><strong>59,90 €</strong> HT/mois</p>
      <p>Des services optimisés à moindre coût</p>
      {{ features(10) }}
    </section>

    <section id="clickcollect">
      <h3>Click & Collect*</h3>
      <p class="price"><strong>94,90 €</strong> HT/mois</p>
      <p>Commande en ligne et retrait en pharmacie</p>
      {{ features(11) }}
    </section>

    <section id="optiweb">
      <h3>Optiweb*</h3>
      <p class="price"><strong>139,90 €</strong> HT/mois</p>
      <p>Vendre ses produits en ligne</p>
      {{ features(13) }}
    </section>

    <ul class="notes">
      <li>
        * 199 € HT de frais de mise en ligne.
      </li>
      <li>
        ** Commission de paiement 0,9 % du panier HT.
      </li>
    </ul>

    <section id='advantages'>
      <h2>Les plus Pharminfo.fr</h2>
      <ul>
        <li>Solution Ingénico de paiement en ligne <strong>intégrée</strong></li>
        <li>Base de données de plus de <strong>8500 produits</strong></li>
        <li>Connexion possible avec votre <strong>LGO*</strong></li>
        <li>*Mise à jour des stocks et des prix, 15€ HT/mois.</li>
      </ul>
    </section>

    <section id="grouping">
      <h2>Vous êtes un groupement ?</h2>
      <p>Pharminfo.fr propose des solutions de sites internet pour votre groupement et vos adhérents.</p>
      <p>Contactez-nous pour un devis personnalisé.</p>
    </section>
  </section>

  <section id="main-offer">
    <h2>Laissez-vous tenter par l'offre Flexiweb plus</h2>
    <p>
      Proposez un service innovant et gratuit à vos patients : <strong>l'envoi d'ordonnance avec l'application mobile Pharminfo !</strong>
    </p>
    <p>
      Simple d'utilisation, vous recevrez les ordonnances de vos patients en quelques clics.
    </p>
    <p>
      <strong>Plus qu'une application mobile, un vrai service de proximité !</strong>
    </p>
    {# TODO #}
    <ol>
      <li id="app">À la suite d’un RDV chez le médecin, le patient envoie directement son ordonnance à son pharmacien grâce à l’application mobile Pharminfo</li>
      <li id="computer">Le pharmacien est instantanément alerté et prépare l’ordonnance du patient</li>
      <li id="sms">Le pharmacien prévient le patient par mail ou SMS quand l'ordonnance est prête</li>
      <li id="reception">Simple et pratique, le patient peut passer à la pharmacie récupérer sa commande sans perdre de temps</li>
    </ol>
    <ul class="links">
      <li>
        <a href="http://applicationmobilepharminfo.fr/" target="_blank">
          Découvrir l'application Pharminfo
        </a>
      </li>
      <li>
        <a href="https://youtu.be/fSRU--88LY4" target="_blank">
          Voir la vidéo Click and Collect
        </a>
      </li>
    </ul>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <dl>
      <dt>Adresse</dt>
      <dd>
        <strong>Pharminfo.fr − Kozea</strong><br/>
        107 boulevard de Stalingrad<br/>
        69100 Villeurbanne
      </dd>
      <dt>Tél</dt>
      <dd>04 27 11 83 96</dd>
      <dt>Fax</dt>
      <dd>04 27 11 83 98</dd>
      <dt>Email</dt>
      <dd><a href="mailto:contact@pharminfo.fr">contact@pharminfo.fr</a></dd>
    </dl>
    <form class="contact-form" action="{{ url_for('contact') }}" method="POST">
      <label for="name">Nom et prénom</label>
      <input id="name" name="name" placeholder="Vos nom et prénom*" required value="{{ data and data.name }}" />
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="Votre adresse email*" required value="{{ data and data.email }}" />
      <label for="company">Société</label>
      <input id="company" name="company" placeholder="Votre société*" required value="{{ data and data.company }}" />
      <label for="phone">Téléphone</label>
      <input id="phone" type="phone" name="phone" placeholder="Votre numéro de téléphone*" required value="{{ data and data.phone }}" />
      <label for="code">Code promo</label>
      <input id="code" name="code" placeholder="Votre code promotionnel" value="{{ data and data.code }}" />
      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Votre message*" required>{{ data and data.message }}</textarea>
      <label for="data">
        <input id="data" name="data" type="checkbox" required="required" />
        J'accepte que les informations saisies soient exploitées par Kozea
        group dans le cadre de demande d'informations ou de devis et de la
        relation commerciale qui peut en découler. Je suis informé(e) que je
        peux facilement et à tout moment, modifier mes préférences
        d'abonnement.
      </label>
      <p>
        <a href="{{ url_for('page', page='legal') }}">
          Voir notre politique de confidentialité dans les mentions légales.
        </a>
      </p>
      <div class="g-recaptcha" data-sitekey="6LdPHhMUAAAAAKK2m0QKxrc5Muu9fuSScUpQJ8Ns"></div>
      <input type="submit" value="Valider" />
    </form>
    <p>
      <a class="newsletter-subscribe" href="http://eepurl.com/cWLjYD">Abonnez-vous à la newsletter</a>
    </p>
  </section>
{% endblock body %}
