{% extends '_layout.html' %}

{% macro features(count) %}
  <ul>
    {% for title in (
      'Personnalisation du site Internet',
      'Actualité santé en continu',
      'Présentation des produits',
      'Affichage promotionnel',
      'Fiches conseils',
      'Click and collect',
      'Base de données patients',
      'Suivi de santé (carnet de vaccination, pharmacovigilance…)',
      'Application mobile',
      'Solution e-commerce intégrée') %}
      <li{% if loop.index > count %} class="disabled"{% endif %}>{{ title }}</li>
    {% endfor %}
  </ul>
  <ul class="links">
    <li>
      <a href="{{ url_for('page', page='subscribe') }}">Je m'inscris</a>
    </li>
  </ul>
{% endmacro %}

{% block body %}
  <section id="sales">
    <h2>Comment développer votre activité grâce à votre site internet ?</h2>
    <ul class="links">
      <li>
        <a href="{{ url_for('page', page='whitepaper') }}">
          Télécharger les livres blancs
        </a>
      </li>
    </ul>
  </section>

  <section id="about">
    <h2>De nouveaux leviers de croissance avec votre pharmacie en ligne</h2>
    <ul>
      <li><a class="tab-link active" href="#about-pharminfo">À propos de Pharminfo.fr</a></li>
      <li><a class="tab-link" href="#made-by-kozea">Made by Kozea</a></li>
    </ul>
    <article id="about-pharminfo" class="active">
      <p>
        Les premiers sites Internet Pharminfo.fr ont été créés en 2007 par la
        société <strong>Kozea</strong> pour répondre à une demande spécifique des
        pharmaciens : <strong>améliorer la relation avec les patients en
        prolongeant la pharmacie sur le web</strong>.
      </p>
      <p>
        À l'écoute de tous ses clients, Pharminfo.fr a su faire évoluer les sites
        Internet à leur demande pour arriver à des plateformes digitales
        performantes.
      </p>
      <p>
        <strong>
          Toutes les plateformes sont réalisées dans le respect des règles
          juridiques et déontologiques que requiert l'univers officinal.
        </strong>
      </p>
      <!--
      <ul class="links">
        <li>
          <a href="{{ url_for('static', filename='video.avi') }}">
            Voir la vidéo du président
          </a>
        </li>
      </ul>
      -->
    </article>
    <article id="made-by-kozea">
      <p>
        Kozea group a été fondée en 2007 avec la volonté de se positionner comme un <strong>expert du web pour les acteurs de santé</strong> (pharmaciens, médecins généralistes et spécialistes, cliniques, hôpitaux, laboratoires pharmaceutiques…).
      </p>
      <p>
        À l’origine, <strong>Guillaume Ayoub</strong> (ingénieur INSA) et <strong>Philippe Donadieu</strong> (docteur en pharmacie) ont associé leurs compétences pour créer les premiers sites Internet pour les pharmaciens d’officine.
      </p>
    </article>
  </section>

  <section id="news">
    <h2>Actualités</h2>
    {% for entry in news %}
      <article>
        <h3>{{ entry.title }}</h3>
        <time pubdate datetime="{{ entry.iso_date }}">{{ entry.date }}</time>
        <img src="{{ entry.image or url_for('static', filename='news.svg') }}" alt="{{ entry.title }}" />
        <p><a href="{{ entry.link }}">Lire la suite…</a></p>
      </article>
    {% endfor %}
    <ul class="links">
      <li>
        <a href="{{ url_for('page', page='news') }}">Voir toutes les actualités</a>
      </li>
    </ul>
  </section>

  <section id="goals">
    <h2>Les objectifs de Pharminfo.fr</h2>
    <ul>
      <li id="innovate"><strong>Innover</strong> en proposant des services web spécifiques</li>
      <li id="simplify"><strong>Simplifier</strong> la rencontre entre le pharmacien et le patient</li>
      <li id="connect"><strong>Connecter</strong> les patients à la pharmacie 7j/7 et 24h/24</li>
      <li id="help"><strong>Aider</strong> à l’organisation administrative et logistique de l'officine</li>
      <li id="save"><strong>Gagner</strong> plus de temps pour l'équipe officinale afin de mieux accompagner les patients au comptoir</li>
      <li id="raise"><strong>Augmenter</strong> le chiffre d'affaires de la pharmacie</li>
    </ul>
  </section>

  <section id="guarantees">
    <h2>Les garanties Pharminfo.fr</h2>
    <ul>
      {# TODO #}
      <li id="cloud">Hébergement de données de santé</li>
      <li id="payment">Module de paiement en ligne intégré</li>
      <li id="ars">Constitution du dossier ARS</li>
      <li id="security">Données cryptées (https)</li>
      <li id="order">Respect de la charte de l'ordre des pharmaciens</li>
      <li id="sav">Support technique et support client</li>
      <li id="seo">Référencement Internet naturel optimisé</li>
      <li id="responsive">Responsive Design</li>
    </ul>
  </section>

  <section id="reasons">
    <h2>6 bonnes raisons de choisir Pharminfo.fr</h2>
    <p>
      Déjà <strong>2300</strong> pharmacies ont fait confiance à Pharminfo.fr,
      pourquoi pas vous ?
    </p>
    <ol>
      {# TODO #}
      <li id="develop">Développement de nouveaux services de proximité</li>
      <li id="expertise">Expertise de services démontrée</li>
      <li id="loyal">Fidélisation de votre patientèle</li>
      <li id="satisfaction">Satisfaction et recommandation de nos clients</li>
      <li id="accompaniment">Accompagnement personnalisé</li>
      <li id="cost">Coût maîtrisé</li>
    </ol>
  </section>

  <section id="clients">
    <h2>Témoignages</h2>

    <ul id="testimonials">
      {# TODO #}
      {% set testimonials = {
        "Madame Skafar de la Pharmacie Gambetta" : "L’équipe de Pharminfo.fr m’accompagne pour donner des conseils illustrés à mes patients et c’est très intéressant",
        "Madame Labbé de la Pharmacie Labbé Dutilleul" : "Les sites Pharminfo.fr sont très faciles d’utilisation. En plus, leur équipe est très conviviale et toujours à notre disposition quand on a besoin",
        "Monsieur Tarnaud de la Pharmacie de la Tour" : "L’équipe de Pharminfo.fr est toujours très réactive",
        "Monsieur Blache de la Pharmacie Saint Gauderique" : "Équipe très active et agréable. Quand je contacte le service de la relation client j’obtiens une réponse très rapidement, pas besoin d’attendre 15 jours contrairement à d’autres fournisseurs"
      } %}
      {% for author, testimonial in testimonials.items() %}
        <li{% if loop.index == 1 %} class="active"{% endif %} data-index="{{ loop.index }}">
          <figure>
            <blockquote>
              {{ testimonial }}
            </blockquote>
            <figcaption>{{ author }}</figcaption>
          </figure>
        </li>
      {% endfor %}
    </ul>
    <ul id="stats">
      <li id="interne"><strong>85%</strong> des patients apprécient que leur pharmacien ait un site Internet.</li>
      <li id="symplify"><strong>72%</strong> des patients seraient intéressés par la mise en place d'un service click and collect qui simplifie la réservation d'ordonnances.</li>
      <li id="special-order"><strong>73%</strong> des patients souhaitent la mise en place d'un comptoir uniquement dédié au click and collect (retraits des ordonnances réservées en ligne).</li>
      <li id="delivery"><strong>50%</strong> des patients souhaitent être livrés à leur domicile.</li>
    </ul>
    <p>Enquête réalisée par Pharminfo.fr au mois de juillet 2015 auprès de 1300 patients.</p>
  </section>

  <section id="offers">
    <h2>Les offres Pharminfo.fr</h2>
    <p>
      Les solutions digitales de Pharminfo.fr vous permettront d'accélérer
      votre performance, votre visibilité et vos ventes.
    </p>
    <p>
      En utilisant un nouveau canal de communication, vous simplifiez la
      gestion de votre <em>back-office</em> et améliorez votre présence au
      comptoir.
    </p>

    <section id="ecoweb">
      <h3>Ecoweb</h3>
      <p>Visibilité</p>
      <p class="price"><strong>14,90 €</strong> HT/mois</p>
      {{ features(2) }}
    </section>

    <section id="flexiweb-plus">
      <h3>Flexiweb Plus*</h3>
      <p>Services +</p>
      <p class="price"><strong>59,90 €</strong> HT/mois</p>
      {{ features(9) }}
    </section>

    <section id="optiweb">
      <h3>Optiweb**</h3>
      <p>E-commerce</p>
      <p class="price"><strong>94,90 €</strong> HT/mois</p>
      {{ features(10) }}
    </section>

    <ul class="notes">
      <li>
        * 200 € HT de frais de mise en ligne.
      </li>
      <li>
        ** 390 € HT de frais de mise en ligne. Ce prix comprend la constitution
        du dossier ARS, la mise en ligne du site Internet, le coût de
        l'interface de paiement et du TPE virtuel multi-banques. Commission de
        paiement 0,9 % du panier HT.
      </li>
    </ul>
  </section>

  <section id="main-offer">
    <h2>Laissez-vous tenter par l'offre Flexiweb plus</h2>
    <p>
      Proposez un service innovant et gratuit à vos patients : le click and
      collect ! Simple d'utilisation, vous recevrez les ordonnances de vos
      patients en quelques clics.
    </p>
    <p>
      Plus qu'une application mobile, un vrai service de proximité !
    </p>
    {# TODO #}
    <ol>
      <li id="app">À la suite d’un RDV chez le médecin, le patient envoie directement son ordonnance à son pharmacien grâce à l’application mobile Pharminfo</li>
      <li id="computer">Le pharmacien est instantanément alerté et prépare l’ordonnance du patient</li>
      <li id="sms">Le pharmacien prévient le patient par mail ou SMS quand l'ordonnance est prête</li>
      <li id="reception">Simple et pratique, le patient peut passer à la pharmacie récupérer sa commande sans perdre de temps</li>
    </ol>
    <ul class="links">
      <li>
        <a href="http://applicationmobilepharminfo.fr/" target="_blank">
          Découvrir l'application Pharminfo
        </a>
      </li>
    </ul>
  </section>

  <section id="customize">
    <h2>Personnalisez votre site Internet</h2>
    <p>
      Pour un service sur mesure, nous vous proposons d'avoir une visibilité
      unique et de vous démarquer encore plus de vos concurrents.
    </p>
    <dl>
      <dt id="image">Personnalisation de l'image de la bannière</dt>
      <dd>50 € HT</dd>
      <dt id="colors">Personnalisation des couleurs</dt>
      <dd>70 € HT</dd>
      <dt id="logo">Création d'un logo</dt>
      <dd>185 € HT</dd>
      <dt id="theme">Création d'un thème complet personnalisé</dt>
      <dd>450 € HT</dd>
    </dl>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <dl>
      <dt>Adresse</dt>
      <dd>
        <strong>Pharminfo.fr − Kozea</strong><br/>
        107 boulevard de Stalingrad<br/>
        69100 Villeurbanne
      </dd>
      <dt>Tél</dt>
      <dd>04 27 11 83 96</dd>
      <dt>Fax</dt>
      <dd>04 27 11 83 98</dd>
      <dt>Email</dt>
      <dd><a href="mailto:contact@pharminfo.fr">contact@pharminfo.fr</a></dd>
    </dl>
    <form class="contact-form" action="{{ url_for('contact') }}" method="POST">
      <label for="name">Nom et prénom</label>
      <input id="name" name="name" placeholder="Vos nom et prénom*" required value="{{ data and data.name }}" />
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="Votre adresse email*" required value="{{ data and data.email }}" />
      <label for="company">Société</label>
      <input id="company" name="company" placeholder="Votre société*" required value="{{ data and data.company }}" />
      <label for="phone">Téléphone</label>
      <input id="phone" type="phone" name="phone" placeholder="Votre numéro de téléphone*" required value="{{ data and data.phone }}" />
      <label for="code">Code promo</label>
      <input id="code" name="code" placeholder="Votre code promotionnel" value="{{ data and data.code }}" />
      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Votre message*" required>{{ data and data.message }}</textarea>
      <div class="g-recaptcha" data-sitekey="6LdPHhMUAAAAAKK2m0QKxrc5Muu9fuSScUpQJ8Ns"></div>
      <input type="submit" value="Valider" />
    </form>
    {# TODO #}
    <p>
      <a class="newsletter-subscribe">Abonnez-vous à la newsletter</a>
    </p>
  </section>
{% endblock body %}
