{% extends '_layout.html' %}

{% block title %}Suivez l'actualité de Pharminfo.fr{% endblock title %}

{% block body %}
  <section id="news-content">
    <h2>Les Actualités Pharminfo.fr</h2>
    {% for entry in news %}
      <article>
        <h3>{{ entry.title }}</h3>
        <time pubdate datetime="{{ entry.isodate }}">{{ entry.date }}</time>
        <img src="{{ entry.image or url_for('static', filename='news.svg') }}" alt="{{ entry.title }}" />
        <p>
          <a href="{{ entry.link }}">Lire la suite…</a>
        </p>
      </article>
    {% endfor %}
  </section>
{% endblock body %}
