{% extends '_layout.html' %}

{% block title %}Souscrivez à l'offre Pharminfo.fr de votre choix{% endblock title %}

{% block body %}
  <section id="subscribe-form">
    <h2>Souscrivez à l'offre Pharminfo.fr</h2>
    <p>
      Préinscrivez-vous sur notre plateforme en remplissant un des deux
      formulaires ci-dessous, nous vous renverrons le bordereau
      d'inscription par fax ou par mail. Vous n'aurez plus qu'à finaliser
      l'inscription et signer avant de nous le renvoyer.
    </p>
    <form action="{{ url_for('subscribe') }}" method="POST">
      <label for="siret">SIRET</label>
      <input id="siret" name="siret" placeholder="Numéro SIRET*" value="{{ data and data.siret }}" required />
      <label for="code">Code promo</label>
      <input id="code" name="code" placeholder="Votre code promotionnel" value="{{ data and data.code }}" />
      <label for="phone">Téléphone</label>
      <input id="phone" type="tel" name="phone" placeholder="Numéro de téléphone*" value="{{ data and data.phone }}" required />
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Adresse email*" value="{{ data and data.email }}" required />
      <label class="checkbox">
        <input type="checkbox" required />
        J'accepte que les informations saisies soient exploitées par l'équipe
        commerciale de Kozea group en échange du téléchargement du livre blanc.*
      </label>
      <div class="g-recaptcha" data-sitekey="6LdPHhMUAAAAAKK2m0QKxrc5Muu9fuSScUpQJ8Ns"></div>
      <input type="submit" value="Valider" />
    </form>
    <p>
      <a href="{{ url_for('page', page='legal') }}">
        Voir notre politique de confidentialité dans les mentions légales.
      </a>
    </p>
  </section>
{% endblock body %}
