{% extends '_layout.html' %}

{% block title %}Apprenez à gérer le site internet de votre pharmacie avec les livres blancs Pharminfo.fr{% endblock title %}

{% block body %}
  <section id="content-whitepaper">
    <ul>
      <li><a class="tab-link active" href="#increase-sales">Comment développer vos ventes grâce à votre site Internet ?</a></li>
      <li><a class="tab-link" href="#why-website">Le site Internet de ma pharmacie, pour quoi faire ?</a></li>
    </ul>
    <article id="increase-sales" class="active">
      <p>
        Ce document est à destination des pharmaciens d'officine propriétaires
        d'un site Internet de vente en ligne de médicaments et de produits de
        parapharmacie.
      </p>
      <p>
        Il vous permettra d'identifier les solutions à mettre en œuvre pour
        accélérer les ventes sur votre site Internet.
      </p>
      <p>
        Informez-vous sur :
      </p>
      <ul>
        <li>la réglementation en vigueur,</li>
        <li>des astuces pour bien vendre,</li>
        <li>des opérations marketing à mettre en place.</li>
      </ul>
    </article>
    <article id="why-website">
      <p>
        Ce document est à destination des pharmaciens d’officine désirant un
        site Internet. Il vous permettra d’être guidé dans votre démarche de
        digitalisation.
      </p>
      <p>Informez-vous sur :</p>
      <ul>
        <li>Le développement du e-commerce et de la e-santé</li>
        <li>Les attentes de vos patients à l’ère du digital</li>
        <li>Les solutions pour digitaliser votre officine et s’y adapter</li>
      </ul>
    </article>
    <form action="{{ url_for('whitepaper') }}" method="POST">
      <p>Choix du livre blanc</p>
      <p>
        Vous pouvez télécharger le ou les livres blancs gratuitement en remplissant le
        formulaire.
      </p>
      <p>
        Les champs marqués d'un astérisque (*) sont obligatoires.
      </p>
      <label class="checkbox"><input id="increase_sale" value="increase_sale" type="checkbox" name="white_paper_choice" />Comment développer vos ventes grâce à votre site Internet ?</label>
      <label class="checkbox"><input id="why_website" value="why_website" type="checkbox" name="white_paper_choice" />Le site Internet de ma pharmacie, pour quoi faire ?</label>
      <label for="name">Nom</label>
      <input id="name" name="name" placeholder="Nom*" required="required" />
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="Email*" required="required" />
      <label for="function">Fonction</label>
      <input id="function" name="function" placeholder="Fonction*" required="required" />
      <label for="phone">Téléphone</label>
      <input id="phone" type="tel" name="phone" placeholder="Téléphone" />
      <label for="company">Société</label>
      <input id="company" name="company" placeholder="Société" />
      <label class="checkbox">
        <input type="checkbox" required />
        J'accepte que les informations saisies soient exploitées par l'équipe
        commerciale de Kozea group en échange du téléchargement du livre blanc.*
      </label>
      <input type="submit" value="Télécharger le livre blanc" />
    </form>
    <aside class="legal">
      <h2>Données personnelles</h2>
      <p>
        Les informations recueillies sur ce formulaire sont enregistrées dans
        un fichier informatisé par Kozea group pour prospecter et informer
        notre clientèle.
      </p>
      <p>
        Elles sont conservées pendant 3 ans et sont destinées au service
        commercial.
      </p>
      <p>
        Conformément à la loi « informatique et libertés », vous pouvez exercer
        votre droit d'accès aux données vous concernant et les faire rectifier
        en contactant Kozea group à l'adresse mail suivante :
        <a href="mailto:contact@kozea.fr">contact@kozea.fr</a>.
      </p>
    </aside>
  </section>
{% endblock body %}
