@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700')

body
  font-family: 'Montserrat', sans-serif
  margin: 0

  > *
    padding: 1em

  header
    border-bottom: 2px solid #000
    border-top: 1px solid #000
    margin: 2em 1em

    h1
      font-size: 1em
      text-align: center
      text-transform: uppercase

      &::before
        background: #fff
        content: url('../images/landing/logomaege.svg')
        display: inline-block
        padding: 1em 2em
        vertical-align: middle
        width: 150px

  #presentation
    background: url('../images/landing/wallpaper.png')
    box-sizing: border-box
    color: #fff
    display: flex
    flex-wrap: wrap
    justify-content: center

    section
      box-sizing: border-box
      padding: .5em
      width: 33%

      &:first-of-type
        border-right: 1px solid #fff

      h4
        font-size: .9em
        line-height: 2em
        text-transform: uppercase

    h2,h3
      flex: 1 100%
      text-align: center

    h2
      font-size: 2em

    h3
      font-size: 1.5em
      margin-top: 0
      text-decoration: underline
