@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  body > * {
    padding: 1em; }
  body header {
    border-bottom: 2px solid #000;
    border-top: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 1em; }
    body header::before {
      content: url("../images/landing/logomaege.png");
      margin-top: -45px; }
    body header h1 {
      flex: 1;
      font-size: 1.2em;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase; }
  body #presentation {
    align-items: center;
    background: url("../images/landing/wallpaper.png");
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body #presentation section {
      box-sizing: border-box;
      line-height: 2em;
      padding: 1em; }
      body #presentation section#advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%; }
        body #presentation section#advantages ul {
          padding-left: 0; }
          body #presentation section#advantages ul li {
            list-style: none; }
            body #presentation section#advantages ul li:before {
              content: "-";
              margin-right: .5em; }
            body #presentation section#advantages ul li:first-of-type {
              color: #00a071;
              font-weight: 700; }
      body #presentation section#introduction {
        border-right: 1px solid #fff;
        width: 25%; }
      body #presentation section#offer {
        align-self: center;
        border: 1px solid #00a071;
        color: #00a071;
        width: 25%; }
      body #presentation section#documents {
        align-items: center;
        border-top: 1px solid #fff;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 1em; }
        body #presentation section#documents p {
          font-size: 1.3em;
          margin: .5em 0; }
        body #presentation section#documents a {
          background: #00a071;
          color: #fff;
          font-size: .9em;
          font-weight: 500;
          padding: 1em;
          text-decoration: none;
          text-transform: uppercase;
          transition: background .3s; }
          body #presentation section#documents a:hover {
            background: #00aa78; }
      body #presentation section h4 {
        line-height: 2em;
        text-transform: uppercase; }
    body #presentation h2, body #presentation h3 {
      flex: 1 100%;
      text-align: center; }
    body #presentation h2 {
      font-size: 2.2em;
      margin-bottom: .5em; }
    body #presentation h3 {
      font-size: 1.8em;
      font-weight: 400;
      margin-top: 0;
      text-decoration: underline; }
  body #range, body #identity {
    padding: 1em 5em;
    max-width: 1200px; }
    body #range h4, body #identity h4 {
      color: #fff;
      border-bottom: 1px solid #000;
      letter-spacing: .2em;
      flex: 1 100%;
      font-size: .9em;
      font-weight: 400;
      padding-bottom: .5em;
      text-transform: uppercase; }
      body #range h4 span, body #identity h4 span {
        background: #000;
        padding: .5em; }
  body #range {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body #range p {
      flex: 1 100%; }
    body #range section {
      box-sizing: border-box;
      display: flex;
      flex: 1 50%;
      flex-wrap: wrap;
      margin: 1em 0; }
      body #range section dl dt {
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: .5em; }
      body #range section dl dd {
        margin-left: 0; }
      body #range section img {
        margin-right: 1em; }
      body #range section:nth-child(even) {
        align-items: flex-end;
        flex-direction: row-reverse; }
      body #range section:last-child {
        flex: 1 100%; }
        body #range section:last-child dl dt {
          font-size: 1em;
          font-weight: 400; }
        body #range section:last-child dl dd {
          font-size: 1.3em;
          font-weight: 600; }
  body footer {
    background: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap; }
    body footer section {
      width: 33%; }

/*# sourceMappingURL=maege.sass.css.map */