<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Landing Page Maege</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='landing/maege.sass.css') }}" />
  </head>
  <body>
    <header>
      <h1>Maege, la nouvelle marque de science cosmétique détentrice d'un brevet exclusif mondial</h1>
    </header>
    <article id="presentation">
      <h2>Découvrez l'effet papillon Maege !</h2>
      <h3>Habillez vos linéaires d'une gamme de soin anti-âge High-Tech</h3>
      <section id="introduction">
        <h4>Proposez à vos patients une molécule aux propriétés exceptionnelles</h4>
        <p>Son peptide, le SDKP, possède la faculté de relancer, à dose infime, tous les mécanismes de régénération de la peau.</p>
      </section>
      <section id="advantages">
        <h4>Pour vous, une offre commerciale attractive</h4>
        <ul>
          <li>Forte marge : coefficient de 2</li>
          <li>Un investissement minimum à l'implantation : 612€/HT</li>
          <li>Aucun colissage : possibilité de commander à l'unité</li>
          <li>Chèque cadeau en fonction des ventes au trimestre</li>
          <li>PLV avec 3 testeurs, des triptyques et doses d'essai</li>
          <li>1 UG pour 12 références identiques commandées</li>
        </ul>
      </section>
      <section id="offer">
        <h4>L'avantage Pharminfo.fr</h4>
        <p>Un référencement prioritaire et une zone de concurrence protégée.</p>
      </section>
      <section id="documents">
        <p><strong>Constatez un niveau de satisfaction client maximum associé à un taux de ré-achat très élevé</strong></p>
        <p><strong>Ne passez pas à côté de l'évolution du marché !</strong></p>
        <a href="mailto:?to=contact@pharminfo.fr&subject=Demande%20documentation%20Maege">Cliquez ici pour une documentation gratuite</a>
    </section>
    </article>
    <article id="range">
      <h4><span>La gamme</span></h4>
      <p>Une gamme courte de trois produits universels.</p>
      <section>
        <img src="../../static/images/landing/product1.png">
        <dl>
          <dt>Le Sérum Haute Concentration</dt>
          <dd>Ultra-puissance du programme SDKP</dd>
        </dl>
      </section>
      <section>
        <img src="../../static/images/landing/product2.png">
        <dl>
          <dt>Le Sérum Contour des Yeux Anti-Âge</dt>
          <dd>Ultra-efficacité pour la jeunesse du regard</dd>
        </dl>
      </section>
      <section>
        <img src="../../static/images/landing/product3.png">
        <dl>
          <dt>La Crème Multi-Correction Anti-Âge</dt>
          <dd>Ultra-sensation dans le respect des peaux délicates</dd>
        </dl>
      </section>
      <section>
        <img src="../../static/images/landing/product4.png">
        <dl>
          <dt>Le programme agit en 3 phases :</dt>
          <dd>Réveiller, renforcer, prévenir</dd>
        </dl>
      </section>
    </article>
    <article id="identity">
      <h4><span>Qui sommes-nous ?</span></h4>
      <section id="description">
        <p>
          Maege utilise une molécule anti-âge et anti-rides d'une efficacité inégalée à ce jour.
          Il a fallu à Nicolas Rivière, docteur en pharmacie, près de 4 ans et 3 brevets déposés pour voir son objectif atteint : produire une gamme courte de produits
          véritablement innovants et performants visant à corriger et prévenir tous les signes de l'âge.
          <a href="http://maege-skincare.com/accueil">En savoir plus</a>
        </p>
        <iframe src="https://player.vimeo.com/video/183679744" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </section>
      <section id="message">
        <p>Pharmacien, profitez d'avantages exclusifs !</p>
        <a href="mailto:?to=contact@pharminfo.fr&subject=Avantages%20exclusifs%20Maege">Contactez-nous</a>
      </section>
    </article>
    <footer>
      <section  id="newspapers">
        <h4>Ils en parlent</h4>
        <ul>
          <li id="versionfemina"><a href="http://maege-skincare.com/news_version-femina-cite-maege-parmi-les-marques-montantes-de-cosm-tique">Version Femina</a></li>
          <li id="elle"><a href="http://maege-skincare.com/news_on-parle-de-maege-dans-elle">Elle</a></li>
          <li id="journaldesfemmes"><a href="http://maege-skincare.com/news_le-s-rum-contour-des-yeux-maege-dans-le-journal-des-femmes">Le journal des femmes</a></li>
          <li id="femina"><a href="http://maege-skincare.com/news_maege-dans-la-s-lection-beaut-de-version-f-mina">Femina</a></li>
          <li id="bienetre"><a href="http://maege-skincare.com/news_bien-tre-sant-flashe-sur-maege">Bien-être et santé</a></li>
          <li id="femmeactuelle"><a href="http://maege-skincare.com/news_maege-dans-beaut-addict-et-voici">Femme Actuelle</a></li>
        </ul>
      </section>
      <section id="find">
        <h4>Nous trouver</h4>
        <a href="http://maege-skincare.com/stores">Store Locator</a>
      </section>
      <section id="follow">
        <h4>Nous suivre</h4>
        <ul>
          <li id="facebook"><a href="https://www.facebook.com/MaegeSkincare/?fref=ts">Facebook</a></li>
          <li id="twitter"><a href="https://twitter.com/MaegeSkincare">Twitter</a></li>
          <li id="instagram"><a href="https://www.instagram.com/maegeskincare/">Instagram</a></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
