<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Landing Page Maege</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='landing/maege.sass.css') }}" />
  </head>
  <body>
    <header>
      <h1>Maege, la nouvelle marque de science cosmétique détentrice d'un brevet exclusif mondial</h1>
    </header>
    <article id="presentation">
      <h2>Découvrez l'effet papillon Maege</h2>
      <h3>Habillez vos linéaires d'une gamme de soin anti-âge High-Tech</h3>
      <section>
        <h4>Proposez à vos patients une molécule aux propriétés exceptionnelles</h4>
        <p>Son peptide, le SDKP, possède la faculté de relancer, à dose infime, tous les mécanismes de régénération de la peau.</p>
      </section>
      <section>
        <h4>Pour vous, une offre commerciale attractive</h4>
        <ul>
          <li>Forte marge : coefficient de 2</li>
          <li>Un investissement minimum à l'implantation : 612€/HT</li>
          <li>Aucun colissage : possibilité de commander à l'unité</li>
          <li>Chèque cadeau en fonction des ventes au trimestre</li>
          <li>PLV avec 3 testeurs, des triptyques et doses d'essai</li>
          <li>1 UG pour 12 références identiques commandées</li>
        </ul>
      </section>
      <section>
        <h4>L'avantage Pharminfo.fr</h4>
        <p>Un référencement prioritaire et une zone de concurrence protégée.</p>
      </section>
      <p><strong>Constatez un niveau de satisfaction client maximum associé à un taux de ré-achat très élevé</strong></p>
      <p><strong>Ne passez pas à côté de l'évolution du marché !</strong></p>
      <a href="https://www.google.fr">Cliquez ici pour une documentation gratuite</a>
    </article>
    <article>
      <h4>La gamme</h4>
      <p>Une gamme courte de trois produits universels.</p>
      <dl>
        <dt>Le Sérum Haute Concentration</dt>
        <dd>Ultra-puissance du programme SDKP</dd>
        <dt>Le Sérum Contour des Yeux Anti-Âge</dt>
        <dd>Ultra-efficacité pour la jeunesse du regard</dd>
        <dt>La Crème Multi-Correction Anti-Âge</dt>
        <dd>Ultra-sensation dans le respect des peaux délicates</dd>
        <dt>Le programme agit en 3 phases</dt>
        <dd>Réveiller, renforcer, prévenir</dd>
      </dl>
    </article>
    <article>
      <h4>Qui sommes-nous ?</h4>
      <p>
        Maege utilise une molécule anti-âge et anti-rides d'une efficacité inégalée à ce jour.
        Il a fallu à Nicolas Rivière, docteur en pharmacie, près de 4 ans et 3 brevets déposés pour voir son objectif atteint : produire une gamme courte de produits
        véritablement innovants et performants visant à corriger et prévenir tous les signes de l'âge.
        <a href="https://www.google.fr">En savoir plus</a>
      </p>
      <p><strong>Pharmacien, profitez d'avantages exclusifs !</strong></p>
      <a href="https://www.google.fr">Contactez-nous</a>
    </article>
    <footer>
      <section>
        <h4>Ils en parlent</h4>
        <ul>
          <li>Version Femina</li>
          <li>Elle</li>
          <li>Le journal des femmes</li>
          <li>Femina</li>
          <li>Bien-être et santé</li>
          <li>Femme Actuelle</li>
        </ul>
      </section>
      <section>
        <h4>Nous trouver</h4>
        <a>Store Locator</a>
      </section>
      <section>
        <h4>Nous suivre</h4>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </section>
    </footer>
  </body>
</html>
